[submodule "lib/python-oauth2"]
	path = lib/python-oauth2
	url = https://github.com/simplegeo/python-oauth2
[submodule "lib/twitter"]
	path = lib/twitter
	url = http://github.com/sixohsix/twitter.git
