[database]

database = [DBNAME]
username = 
password = 
hostname = localhost

; Uncomment and fill out these if you have memcache installed and want to use it
; (Hint, if you have memcache installed, you want to use it)
;[memcache]

;port = 11211
;host = localhost
;prefix = lifestream_

; twitter oauth values. Register your lifestream as an app at http://www.twitter.com/oauth
[twitter]
consumer_key    = 
consumer_secret = 

[github]
; Generate a token at https://github.com/settings/applications
username   = aquarion
auth_token = 

[foursquare]
; Run foursquare-oauth.py to generate these
client_id = 
secret    = 

[oyster]
; Login for oyster.tfl.gov
; Yeah, plaintext :(
username = 
password = 

[bioware]
; Login for bioware's social site.
; Again, plaintext :(
; When they have an API, I'll use it.
username = user@hostname
password = 

[googleapi]
; Generate these from https://code.google.com/apis/console/
consumer_key = 
consumer_secret = 
domain = 
apikey = 
secrets_file = [DEFINE A DATA DIRECTORY]/googleapi_client_secrets.json

[latitude]
credentials_file = [DEFINE A DATA DIRECTORY]/latitude.dat

[netflix]
user_id = 
api_key = 
api_secret = 
oauth_token = 
oauth_token_secret = 

[lotro]
; These are a series of username = my.lotro URLS
salique  = http://my.lotro.com/home/character/2776943/150307637564913321/activitylog

[flickr]
api_key    = 
api_secret =
account    = xxxxxxx@N00
account_name = profile-name
