[database]

database = [DB_Name]
username = [Username]
password = [Password]
hostname = localhost

; Uncomment and fill out these if you have memcache installed and want to use it
; (Hint, if you have memcache installed, you want to use it)
;[memcache]
;
;port = 11211
;host = localhost
;prefix = lifestream_

; twitter oauth values. Register your lifestream as an app at http://www.twitter.com/oauth
[twitter]
consumer_key = [Consumer_key]
consumer_secret = [Consumer_Secret]

[github]

key = [Github_key]
username = [github_api_username]

[foursquare]
client_id = [Foursquare Oauth ID]
secret = [Foursquare Oauth Secret]

[oyster]
username = [Oyster Username]
password = [Oyster Password]

[bioware]
username = [EA Username]
password = [EA Password]

[googleapi]

consumer_key = [Domain]
consumer_secret = [Secret]
domain = [Domain]
apikey = [API Key]

[latitude]
credentials_file = [DATA Files Path]/latitude.dat