
body {
  font-family: 'Raleway', sans-serif;
  color: #000040;
  padding: 0 0 0 0;
  margin: 0 0 0 0;

  /*background: #FFF url('../img/tweetcloud.png') no-repeat fixed center center;*/
background-attachment: fixed;
background-color: #EEE;
background-image: url(http://dailyphoto.aquarionics.com/redirect.php);
background-position: 50% 50%;
background-repeat: repeat;
background-size: cover;
color: white;
}

#tiles {
	font-size: 10pt;
	margin-left: auto;
	margin-right: auto;
	margin: 0 3em;
}

header {
	max-width: 760px;
	background: rgba(0,0,0,.8);
	color: white;
	margin-left: auto;
	margin-right: auto;
	border-bottom-right-radius: 2em;
	border-bottom-left-radius: 2em;
}

header a {
	color: white;
}

header p {
	padding: 0em 1em 0 1em;
}

header h1 {
	background: rgba(0,0,100,.8);
	font-size: 4em;
	text-align: center;
	padding: 0em 1em 0 1em;
	margin-bottom: 0em ;
}

h1, h2, h3, h4 {
  	font-family: 'Comfortaa', sans-serif;
  	text-shadow: 3px 3px 5px rgba(0,0,0,.7);
}

h2 {
	margin: .25em;
}
 
header .buttons {
	text-align: center;
}


#message, #navigation, #years {
	text-align: center;
	margin: .25em;
}

#navigation {
	font-size: 2em;
}

#navigation a {
	text-decoration: none;
}

#navigation a.navDisabled {
	color: rgba(255,255,255,.3);
}

#years {
	padding-bottom: .5em;
}

.item {
	width:  188px;
	overflow: hidden;
	background: #eee;
	padding: 5px;
	background: rgba(125,96,103, .4);
	background: -moz-linear-gradient(100% 100% 30deg, rgba(125,96,103, .9), rgba(184,163,168, .9));
	background: -webkit-gradient(linear, 0% 0%, 50% 100%, from(rgba(125,96,103, .9)), to(rgba(184,163,168, .9)));
	text-decoration: none;
	color: white;
	border-top: 1px solid rgba(255,255,255,.3);
	border-left:  1px solid rgba(255,255,255,.3);
	border-bottom:    1px solid rgba(0,0,0,.3);
	border-right:   1px solid rgba(0,0,0,.3);
	position: relative;
}

.item img.icon {
	float: right;
	max-height: 64px;
}

.tumblr_quote {
	quotes:"\201C""\201D""\2018""\2019";
	width:  388px;
}

.item img {
	max-width: 100%;
}

.tumblr {
  background: rgba(125,96,103, .4);
  background: -moz-linear-gradient(100% 100% 30deg, rgba(16,125,158, .8), rgba(16,158,151, .8));
  background: -webkit-gradient(linear, 0% 0%, 50% 40%, from(rgba(16,125,158, .8)), to(rgba(16,158,151, .8)));
  color: white;
}

.tumblr blockquote {
	padding-left: 0;
	margin-left: 0;
}

.twitter {
	quotes:"\201C""\201D""\2018""\2019";
  background: rgba(125,96,103, .4);
  background: -moz-linear-gradient(100% 100% 30deg, rgba(27,80,224, .8), rgba(27,126,224, .8));
  background: -webkit-gradient(linear, 0% 0%, 50% 100%, from(rgba(27,80,224, .8)), to(rgba(27,126,224, .8)));
  color: white;
}

.facebook {
	background: #1C14FA; color: white;
}

.location {
  background: rgba(224,109,27, .4);
  background: -moz-linear-gradient(100% 100% 30deg, rgba(224,109,27, .8), rgba(224,162,27, .8));
  background: -webkit-gradient(linear, 0% 0%, 50% 100%, from(rgba(224,109,27, .8)), to(rgba(224,162,27, .8)));
}

.tumblr_quote:before {
	color:#ccc;
	content:open-quote;
	font-size:4em;
	line-height:.1em;
	margin-right:.25em;
	vertical-align:-.4em;
}

.github {
	background: rgba(0,0,0,.8);
	color: limegreen;
	width:  188px;
  	font-family: 'PT Mono', monospace;
}

.xkcd {
	position: absolute;
	width: 100%;
	height: 200px;	
	left: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
  background: rgba(224,109,27, .4);
  background: -moz-linear-gradient(100% 100% 30deg, rgba(224,109,27, .8), rgba(224,162,27, .8));
  background: -webkit-gradient(linear, 0% 0%, 50% 100%, from(rgba(224,109,27, .8)), to(rgba(224,162,27, .8)));

}
.xkcd img.icon {
	width: auto;
	height: auto;	
	clear: both;
}

.oyster_oyster {
	width: 88px;
  background: -moz-linear-gradient(100% 100% 30deg, rgba(27,80,224, .8), rgba(27,126,224, .8));
  background: -webkit-gradient(linear, 0% 0%, 50% 100%, from(rgba(27,80,224, .8)), to(rgba(27,126,224, .8)));
	background-image: url('//art.istic.net/iconography/tfl_grad.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: white;
}

.photo {
	width: 460px;
	height: 360px;
	padding: 0;
	background-size: contain;
	background-color: rgba(0,0,0,.8);
	background-position: center center;
	background-repeat: no-repeat;


	border-width: 20px 20px 20px 20px;
	-moz-border-image: url(//art.istic.net/images/gold-frame.png) 20 20 20 20 stretch;
	-webkit-border-image: url(//art.istic.net/images/gold-frame.png) 20 20 20 20 stretch;
	-o-border-image: url(//art.istic.net/images/gold-frame.png) 20 20 20 20 stretch;
	border-image: url(//art.istic.net/images/gold-frame.png) 20 20 20 20 stretch;
	margin: 0;
	position: relative;
}

.tumblr_photo {
	width: 160px;
	height: 160px;
	border-style: solid;
border-width: 20;
-moz-border-image: url(//art.istic.net/images/lt_teal_frame_wide.gif) 17 17 17 17 repeat;
-webkit-border-image: url(//art.istic.net/images/lt_teal_frame_wide.gif) 17 17 17 17 repeat;
-o-border-image: url(//art.istic.net/images/lt_teal_frame_wide.gif) 17 17 17 17 repeat;
border-image: url(//art.istic.net/images/lt_teal_frame_wide.gif) 17 17 17 17 fill repeat;
}

.gaming {
  background-color: rgba(176,28,28, .6);
  background: -moz-linear-gradient(100% 100% 90deg, rgba(176, 28, 28, .6), rgba(176,28,129, .6));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(176, 28, 28, .6)), to(rgba(176,28,129, .6)));
}

.fitbit {
  background-color: rgba(64,163,60, .6);
  background: -moz-linear-gradient(100% 100% 90deg, rgba(64,163,60, .6), rgba(65,135,62, .6));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(64,163,60, .6)), to(rgba(65,135,62, .6)));
}

.item cite {
	font-size: 8pt;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 1px;
	background: rgba(0,0,0,.3);
	color: white;
	display: none;
	text-align: left;
}

.item:hover cite {
	display: block;
}

.centered {
	text-align: center;
}

.achivement {
	/*border: 0;
	margin: 0;
	padding: 0;
	height: 100;
	width: 100;*/
	font-size: 7pt;
	position: relative;

  background-color: rgba(48,0,0, .8);
	background-position: center center;
	background-repeat: no-repeat;
}

.achivement div {
	
}

.achievement_top {
	left: 0;
	position: absolute; 
	top: 2px; 
	width: 100%; 
	text-align: center; 
	overflow: hidden;
}

.achievement_bottom {
	left: 0;
	position: absolute; 
	bottom: 2px; 
	text-align: center; 
	width: 100%; 
	overflow: hidden;
}

#music_chart, #music_others {
	width:  388px;
	background: rgba(255,255,255,.6);
	color: #333;
}

.fitbit_steps, .fitbit_activeScore {
	width: 88px;
}

.twitter img.icon , .Raptr img.icon {
	width: 32px;
}

.kickstarter {
	height: 88px;
}

.aquarionics_wordpress .bloginner {
  background: rgba(0,0,0,.5);
  font-size: 18pt;
  border-radius: .2em;
  position: absolute;
  top: 0;
  margin: .5em;
  padding: .2em;
}

.aquarionics_wordpress .aqcomicon {
  position: absolute;
  bottom: .2em;
  right: .2em;
}

.destiny2_gaming {
	background: #DDD;
	color: black;
}
.destiny2_gaming .frame {
	background-image: url('https://art.istic.net/iconography/games/destiny.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}

.destiny2_gaming .frame .achievement_top, .destiny2_gaming .frame .achievement_bottom {
	background: rgba(225, 225, 225, .7);
	left: 0;
	right: 0;
}
.destiny2_gaming .frame .achievement_top{
	top: 0;
}

.destiny2_gaming .frame .achievement_bottom{
	bottom: 0;
}

.facebook_photo {
	text-align: center;
}

.facebook_photo p {
	margin: 0;
}